*{
    margin: 80px 0 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#demo{
    display: block;
    font-size: 50px;
    text-align: center;
}
button{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px  0 0;
}
button:hover{
    background-color: aqua;
}